@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root{
    --cinza-principal:rgb(44, 44, 44);
}


html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

.container{
    background-color: var(--cinza-principal);
    height: 100vh;
}

.navegacao{
    position: fixed;
    width: 100%;
}

.cabecario{
    display: flex;
    justify-content: space-between;
    background-color:var(--cinza-principal);
    
}

.cabecario-lista{
    display: flex;
    padding: 15px;
    list-style: none;
}

.item-lista{
    padding: 15px;
}

a{
    text-decoration: none;
    color: rgb(215, 214, 216);
    font-size: 13px;
}

a:hover{
    color: #FCFCFC;
}

.logo{
    width: 120px;
    height: 25px;
    margin-top: 30px;
    cursor: pointer;
}

.conteudo{
    display: flex;
   
}

.svg-imagem{
    width: 20px;
    fill: white;
}

.retangulo-cinza{
    background-color: rgb(58, 58, 58);
    width: 50px;
    height: 400px;
    margin-top: 10%;
    margin-left: 5%;
}

.svg-icones{
    margin-top: 18%;
    padding: 20px;
}

.lista-icones{
    list-style: none;
}

.item-icone{
    padding: 10px;
    cursor: pointer;
}

.card-info{
    background-color: rgb(26,26,26);
    width: 350px;
    height: 500px;
    margin-top: 7%;
}

.img-home{
    width: 800px;
    height: 500px;
    margin-top: 7%;
}

h1{
    color: white;
    text-align: center;
    margin-top: 80px;
    font-family: inherit;
}

.descricao{
   color: #585656;
   font-size: 13px;
   text-align: center;
   margin-top: 25px;
}

.btn{
    background-color: rgb(255,220,37);
    border: none;
    width: 150px;
    height: 35px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 13px;
    box-shadow:  rgb(255,220,37)0px 30px 60px -12px,  rgb(255,220,37) 0px 18px 36px -18px;
}

.btn:hover{
    background-color: rgb(59, 59, 59);
    color: white;
    transition: 0.5s;
    box-shadow:none;
    transition: 1s;
}

.botao{
    text-align: center;
    margin-top: 55px;
}

.img-about{
   width: 500px; 
   padding: 100px;
   margin-left: 5%;
}

.about{
    display: flex;
    height: 100vh;
}

h2{
    color: var(--cinza-principal);
    margin-top: 25%;
    font-size: 30px;
}

.motivos{
    width: 30%;
    margin-left: 10%; 
}

.desc-about{
    color: #585656;
    font-size: 13px;
    padding: 15px;
}

.lista-about{
    list-style: none;
}

.item-about{
    display: flex;
    padding: 15px;
}

.titulo-about{
    color: var(--cinza-principal);
    margin-left: 3px;
}

.descricao-about{
    font-size: 13px;
}

.btn-cota{
    background-color: rgb(255,220,37);
    border: none;
    width: 150px;
    height: 35px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 13px;
}

.btn-about{
    text-align: center;
    margin-top: 30px;
}

.cadeira{
    text-align: center;
}

.disign{
    background-image: url(img/fundo-disign.jpg);
    height: 120vh;
}

h4{
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 55px 0px 0px 0px;
}

.orcamento{
    color: rgb(255,220,37);
    text-align: center;
    padding: 25px;
}

input[type=range] {
    -webkit-appearance: none; 
    width: 30%; 
    
}

input[type=range]::-webkit-slider-runnable-track {
    height: 15px;
    cursor: pointer;
    background: var(--cinza-principal);
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 35px; 
    width: 35px; 
    border-radius: 50%; 
    background: rgb(255,220,37); 
    cursor: pointer;
    margin-top: -10px; 
}

.escolha-seu-valor{
    text-align: center;
}

.valores-quartos{
    display: flex;
    margin-left: 30%;
}

.quarto{
    padding: 25px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.btn-design{
    text-align: center;
}

.btn-valor{
    background-color: var(--cinza-principal);
    color: white;
    border: none;
    font-size: 35px;
    border-radius: 20%;
    padding: 10px 32px;
    margin: 21px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.container__section {
    display: flex;
    justify-content: center;

}

.design-img{
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.imagem-dsg{
    padding: 25px;
    transition: transform 0.2s ease-in;
    width: 300px;
    border-radius: 50px;
}

.imagem-dsg:hover{
    transform: scale(1.5);
}

.influences{
    color: white;
    text-align: center;
    font-size: 19px;
}

.ul-influences{
    display: flex;
    justify-content: center;
}

.lista-influences{
    margin: 25px;
}

.item-influences{
    padding: 10px;
    color: #aaa9a9;
    font-size: 13px;
}

.item-influences::marker{
    color: rgb(255,220,37);  
}


.carousel {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 33%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    display: block;
    height: 200px;
    padding: 30px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.portifolio{
    height: 100vh;
    background-color: #aaa9a9;
}

.titulo-portifolio{
    color: var(--cinza-principal);
    font-weight: 900;
    font-size: 35px;
    margin: 100px 10px;
    margin-left: 150px;
}

.our-portifolio{
    display: flex;
}

.paragrafo-proti{
    margin-top: 113px;
    margin-left: 300px;
    color: var(--cinza-principal);
}

.titulo-img{
    font-weight: 600;
    font-size: 20px;
    margin-left: 30px;
}

.desc-img{
    color: #00000099;
    margin-left: 35px;
    padding: 5px;
}

.contato{
    height: 150vh;
    width: 100%;
    background-image: url(img/fundo-disign.jpg);
}

.contato{
    text-align: center;
}

.titulo-contto{
    color: white;  
    font-size: 35px;
    font-weight: 600;
    padding: 75px 0px 15px 0px;
}

.descricao-contato{
    text-align: center;
    color: rgb(255,220,37);
    font-size: 18px;
}

.consulta{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.img-contato-1{
    cursor: pointer;
    margin-top: 55px;
    padding: 0px 0px 0px 60px;
}

.img-contato-2{
    cursor: pointer;
    margin-top: 55px;
    padding: 0px 0px 20px 0px;
}

.img-contato-3{
    cursor: pointer;
    margin-top: 55px;
    padding: 0px 50px 0px 0px;
}



.descricao-img{
    display: flex;
    width: 100%;
}

.descricao-img{
    justify-content: space-between;
    padding: 25px;
    color: #aaa9a9;
}

.contato-email{
    height: 200px;
    width: 80%;
    background-color: rgb(58, 58, 58);
    margin-left: 10%;
    margin-top: 65px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-input{
   
    display: flex;
}

.input-contato{
    width: 200px;
    height: 60px;
    margin-top: 6%;
    background-color: rgb(245,245,245);
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-left: 15px;
}

.input-contato::placeholder{
    font-size: 15px;
    padding: 15px;
}

.btn-contato{
    height: 60px;
    margin-left: 55px;
    width: 200px;
    margin-top: 6%;
    background-color: rgb(255,220,37);
    border: none;
    font-size: 17px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}

.btn-contato:hover{
    color: white;
    background-color:var(--cinza-principal)
}

.call{
    c
}